
.svg-map-kaz {
	width: 100%;
	stroke: rgb(210, 255, 255);
	stroke-width: ;
	stroke-linecap: round;
	stroke-linejoin: round;
	left: 10px;
	height: auto;
}

.location{
	fill:blue
}

.tooltip {
	position: fixed;
	width: 200px;
	padding: 10px;
	border: 1px solid darkgray;
	background-color: white;
}
		